<table style="border:none; width: 100%" >
    <tr>
        <td><b>Naam</b></td>
        <td>{% if persoon.naam.voorvoegsel|default %}{{ person.naam.voorvoegsel }} {% endif %}{{ person.naam.geslachtsnaam }}</td>
        <td></td>
    </tr>
    <tr>
        <td><b>Voornamen</b></td>
        <td>{{ person.naam.voornamen }}</td>
        <td></td>
    </tr>
    <tr>
        <td><b>Geboren</b></td>
        <td>{{ person.geboorte.datum.datum }} te {{ person.geboorte.plaats.omschrijving }}</td>
        <td></td>
    </tr>
    <tr>
        <td><b>Wonende te</b></td>
        <td>{% if person.verblijfplaats.straatnaam|default %}{{ person.verblijfplaats.straatnaam}} {% elseif person.verblijfplaats.straat|default %}{{ person.verblijfplaats.straat }} {% endif %}{{ person.verblijfplaats.huisnummer}}{% if person.verblijfplaats.huisletter|default %} {{ person.verblijfplaats.huisletter}}{% endif %}{% if person.verblijfplaats.huisnummertoevoeging|default %} {{ person.verblijfplaats.huisnummertoevoeging}}{% endif %}, {{ person.verblijfplaats.postcode}}  {% if person.verblijfplaats.woonplaatsnaam|default %}{{ person.verblijfplaats.woonplaatsnaam }}{% else %}{{  person.verblijfplaats.woonplaats }}{% endif %}</td>
        <td>(woonaddres)</td>
    </tr>
    <tr>
        <td><b>Burgelijke staat</b></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><b>BSN</b></td>
        <td>{{ person.burgerservicenummer }}</td>
        <td></td>
    </tr>
</table>
