{% extends base %}

{% block content %}
    <h1 style='font-family: Calibri; font-weight: bold; text-align: center; font-size: 22px; color: #CA494D;'>Uittreksel Basisregistratie Personen</h1>

    <p>
        Uit de basisregistratie personenen van de gemeente {{ person.verblijfplaats.woonplaats }} blijkt dat daarin is opgenomen:
    </p>


    {% include '/blocks/persoonsgegevens.html.twig' with {'person': person} %}

    <p>
        is in de gemeente {{ person.verblijfplaats.woonplaats }}  ingeschreven op het navolgende adres:
    </p>

    <p>
    <table>
        <tr>
            <td>van:</td>
            <td>tot:</td>
            <td>adres:</td>
            <td>gemeente:</td>
        </tr>
        <tr>
            <td><b>{{ person.verblijfplaats.datumAanvangAdreshouding.datum }}</b></td>
            <td><b>Heden</b></td>
            <td><b>{{ person.verblijfplaats.straatnaam}} {{ person.verblijfplaats.huisnummer}}{{ person.verblijfplaats.huisletter }} {{ person.verblijfplaats.huisnummertoevoeging }}, {{ person.verblijfplaats.postcode }}</b></td>
            <td><b>{{ person.verblijfplaats.woonplaats }}</b></td>
        </tr>
    </table>
    </p>

    {% include '/blocks/ondertekening.html.twig' with {'person': person} %}

    {% include '/blocks/claim.html.twig' with {'qr': qr} %}

{% endblock %}



