{% extends base %}

{% block content %}
    <h1 style='font-family: Calibri; font-weight: bold; text-align: center; font-size: 22px; color: #CA494D;'> Uitreksel Basisregistratie Personen</h1>

    <p>
        Uit de basisregistratie personenen van de gemeente {% if person.verblijfplaats.woonplaatsnaam|default %}{{ person.verblijfplaats.woonplaatsnaam }}{% elseif person.verblijfplaats.woonplaats|default %}{{ person.verblijfplaats.woonplaats }}{% endif%} blijkt dat daarin is opgenomen:
    </p>

    <p>
        Geslachtsnaam: {% if person.naam.geslachtsnaam|default %}{{ person.naam.geslachtsnaam }}{% else %}N.V.T{% endif %}
    </p>
    <p>
        Voorna(a)m(en): {% if person.naam.voornamen|default %}{{ person.naam.voornamen }}{% else %}N.V.T{% endif %}
    </p>
    <p>
        Geboortedatum: {% if person.geboorte.datum.datum|default %}{{ person.geboorte.datum.datum }} {% if person.geboorte.plaats.omschrijving %}te {{ person.geboorte.plaats.omschrijving }}{% endif %}{% else %}N.V.T{% endif %}
    </p>
    <p>
        Geboorteland: {% if person.geboorte.land.omschrijving|default %}{{ person.geboorte.land.omschrijving }}{% else %}N.V.T{% endif %}
    </p>
    <p>
        Adres(laatstelijk): {% if person.verblijfplaats.adresregel1|default and person.verblijfplaats.adresregel2|default %}{{ person.verblijfplaats.adresregel1 }}, {{ person.verblijfplaats.adresregel2 }}{% else %}N.V.T{% endif %}
    </p>
    <p>
        Datum aanvang adres: {% if person.verblijfplaats.datumAanvangAdreshouding.datum|default %}{{ person.verblijfplaats.datumAanvangAdreshouding.datum }}{% else %}N.V.T{% endif %}
    </p>

    {% include '/blocks/ondertekening.html.twig' with {'person': person} %}

    {% include '/blocks/claim.html.twig' with {'qr': qr} %}

{% endblock %}



