{% extends base %}

{% block content %}
    <h1 style='font-family: Calibri; font-weight: bold; text-align: center; font-size: 22px; color: #CA494D;'> Uitreksel Regsitratie niet ingezetenen</h1>

    <p>
        Uit de basisregistratie personenen van de gemeente {% if person.verblijfplaats.woonplaats|default %}{{ person.verblijfplaats.woonplaats }}{% elseif person.verblijfplaats.woonplaatsnaam|default %}{{ person.verblijfplaats.woonplaatsnaam }}{% end %} blijkt dat daarin is opgenomen:
    </p>


    {% include '/blocks/persoonsgegevens.html.twig' with {'person': person} %}

    <p>
        is in de gemeente {{ person.verblijfplaats.woonplaatsnaam }}  ingeschreven op het navolgende adres:
    </p>

    <p>
    <table>
        <tr>
            <td>van:</td>
            <td>tot:</td>
            <td>adres:</td>
            <td>gemeente:</td>
        </tr>
        <tr>
            <td><b>{{ person.verblijfplaats.datumIngangGeldigheid }}</b></td>
            <td><b>Heden</b></td>
            <td><b>{{ person.verblijfplaats.straatnaam}} {{ person.verblijfplaats.huisnummer}} {{ person.verblijfplaats.huisnummertoevoeging}}, {{ person.verblijfplaats.postcode}}  </b></td>
            <td><b>{{ person.verblijfplaats.woonplaatsnaam }}</b></td>
        </tr>
    </table>
    </p>

    <p>
        Totaal aantal personen ingeschreven op het adres: 3
    </p>

    {% include '/blocks/ondertekening.html.twig' with {'person': person} %}

    {% include '/blocks/claim.html.twig' with {'qr': qr} %}

{% endblock %}



